apiVersion: apps/v1
kind: Deployment
metadata:
  name: healthcare-api
  namespace: default
  labels:
    app: healthcare-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: healthcare-api
  template:
    metadata:
      labels:
        app: healthcare-api
    spec:
      containers:
      - name: healthcare-api
        image: ibraheemcisse/healthcare-api:v0.2.0
        ports:
        - containerPort: 8000
          name: http
        env:
        - name: DATABASE_URL
          value: "postgresql://healthcare_user:healthcare_pass_123@postgres:5432/healthcare"
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
